In [ ]:


# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	ineruon		 ineruon
# 		  ineruon

# l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
#             "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

# q3 : Try to extract all the list entity 
# q4 : Try to extract all the dict enteties
# q5 : Try to extract all the tuples entities
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
# q7 : Try to give summation of all the numeric data 
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
# q9 : Try to extract "ineruon" out of this data
# q10 :Try to find out a number of occurances of all the data 
# q11 : Try to find out number of keys in dict element
# q12 : Try to filter out all the string data 
# q13 : Try to Find  out alphanum in data
# q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
# q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
# before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
# sudhanshu@ineuron.ai
# shivan@ineuron.ai

In [12]:
# q1 :
# ineruon 
# ineruon ineruon 
# ineruon ineruon ineruon
# ineruon ineruon ineruon ineruon
n = 4
for i in range(n):
    print("ineuron",end =" ")
    for j in range(i):
        print("ineuron", end=" ")
    for j in range(i,i+1):
        print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [34]:
# q2 - 

#           ineruon
#     ineruon      ineruon
# ineruon		ineruon 	ineruon
# 	ineruon		 ineruon
# 		  ineruon

n = 5
k="ineuron"
for i in range(n-1):
    print(" ",end=" ")
    for j in range(i,n):
        print(k, end=" ")
    for j in range(i):
        print(k, end=" ")
for j in range(i):
    print(k,end=" ")

  ineuron ineuron ineuron ineuron ineuron   ineuron ineuron ineuron ineuron ineuron   ineuron ineuron ineuron ineuron ineuron   ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [96]:
n=4
for i in range(n-1):
    for j in range(i,n):
        print("  ",end = " ")
    for j in range(i):
        print(" ",k,end=" ")
    for j in range(i+1):
        print(k,end = " ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print(k,end=" ")
    for j in range(i,n):
        print(k,end=" ")
    print()

            ineuron
           ineuron ineuron ineuron
        ineuron   ineuron ineuron ineuron ineuron
  ineuron ineuron ineuron ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron ineuron ineuron
      ineuron ineuron ineuron
        ineuron